In [2]:
import pandas as pd
import numpy as np
import sqlite3

In [4]:
# Загрузка данных
df = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv', sep=',')

In [10]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,39.02,27.32,3.56,7.97,77.86,76.0,51.0,80.0,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,14.79,12.04,3.58,3.10,33.51,82.0,73.0,83.0,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,14.73,10.31,3.09,2.78,30.92,80.0,73.0,80.0,192.0,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,10.64,8.62,6.13,2.72,28.11,89.0,65.0,85.0,431.0,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,13.17,8.66,2.76,2.68,27.28,58.0,41.0,66.0,129.0,Nintendo,E

In [78]:
df.shape

(16719, 16)

In [79]:
#Проверка дубликатов в данных
df[df.duplicated()]

Empty DataFrame
Columns: [Name, Platform, Year_of_Release, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales, Critic_Score, Critic_Count, User_Score, User_Count, Developer, Rating]
Index: []

In [80]:
df.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

In [81]:
df.count()

Name               16717
Platform           16719
Year_of_Release    16450
Genre              16717
Publisher          16665
NA_Sales           16719
EU_Sales           16719
JP_Sales           16719
Other_Sales        16719
Global_Sales       16719
Critic_Score        8137
Critic_Count        8137
User_Score         10015
User_Count          7590
Developer          10096
Rating              9950
dtype: int64

In [6]:
# Меняем str значения на NaN
# Удаляем строчки, при условии, что у нас нет информации об оценках от критиков и юзеров.
df['User_Score'] = df['User_Score'].replace('tbd', np.nan)
df = df.dropna(subset=['Critic_Score', 'User_Score'], how='all')

In [7]:
# Заменяем пропущенные значения в столбце Year_of_Release на ноль
df['Year_of_Release'] = df['Year_of_Release'].fillna(0).astype(int)

# Затем приводим float к int для правильного отображения даты (год)
df['Year_of_Release'] = df['Year_of_Release'].astype(int)

In [1]:
df.head()

NameError: ignored

In [8]:
# Конвертируем значения в евро
columns_to_convert = ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']

for column in columns_to_convert:
    df[column] = df[column].apply(lambda x: round(float(x) / 1.06, 2))

In [9]:
# Конвертируем Оценки юзеров в 100-бальную систему оценивания.
df['User_Score'] = df['User_Score'].astype(float).round(1)
df['User_Score'] = df['User_Score'] * 10

In [89]:
con = sqlite3.connect('Video_Games_Sales.db', timeout=10)
cur = con.cursor

In [90]:
df.to_sql(con=con, name='Video_Games_Sales.db', index=False)

8710